---
import Layout from "../layouts/Layout.astro";
import Folder from "../components/Folder.vue";
import UploadPDF from "../components/UploadPDF.vue";
---

<Layout title="manage">
    <main>
		<h1 class="text-white">PDFファイルをアップロード</h1>
		<div class="flex justify-center">
			<div class="w-1/3 m-10 ">
				<UploadPDF client:load />
			</div>
		</div>
		<h1 class="text-white">PDFファイルを管理</h1>
		<div class="flex justify-center">
			<div class="w-4/5">
				<Folder client:load /> 
			</div>
		</div>
    </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 0.5rem;
		margin-top: 50px;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>