---
import Layout from '../layouts/Layout.astro';
import ReadPDF from '../components/ReadPDF.vue';
import Comments from '../components/comments.vue'
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="grid grid-cols-12">
			<!-- <div class="col-span-3">
				pdf一覧
			</div> -->
			<div class="col-span-9" >
				<ReadPDF client:load />
			</div>
			</div>
		</div>
		<div class="grid grid-cols-12">
			<Comments client:load />
		</div>
		
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		margin-top: 80px;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
