---
import Layout from '../layouts/Layout.astro'
import Login from '../components/Login.vue'
---
<Layout title="login">
    <div class="h-screen w-screen flex justify-center items-center">
        <Login client:load />
    </div>
</Layout>

<script>

</script>
