---
import Layout from '../layouts/Layout.astro'
import LoginVue from '../components/Login.vue'
let isSineUp = false

---
<Layout title="login">
    <div class="h-screen w-screen flex justify-center items-center">
        <LoginVue client:load />
    </div>
</Layout>
    
<script>
    
</script>
